@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

$white: #fff;
$black: #000;

$blue: #2d9df2;
$darkBlue: #1b78bf;
$lightBlue: #1cc3e8;
